
@{
    ViewData["Title"] = "InsertDivision";
}

<h1>InsertDivision</h1>
<form method="post" action="/My/InsertDivision">
    Division ID :
    <input type="text" name="divisionId" />

    Division Name :
    <input type="text" name="divisionName" />
    <button type="submit" value="Save">Save</button>
</form>