
@{
    ViewData["Title"] = "InsertItem";
}

<h1>InsertItem</h1>

<form method="post">
    Item ID :
    <input type="text" name="ItemId" />

    Item Name :
    <input type="text" name="ItemName" />
    <button type="submit" value="Save">Save</button>
</form>